name: "@coat/cli"
on: push

jobs:
  build:
    name: Lint, Test & Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          npm ci
          npx --no-install lerna bootstrap
      - name: Lint
        run: npx --no-install lerna run lint --stream
      - name: Test
        run: |
          npx --no-install lerna run test --stream -- -- \
          --ci \
          --no-cache \
          --runInBand \
          --verbose \
          --coverageReporters json \
          --coverageReporters lcov \
          --coverageReporters text \
          --coverageReporters clover
      - name: Upload test coverage information
        run: bash <(curl -s https://codecov.io/bash)
      - name: Build package artifacts
        run: npx --no-install lerna exec npm pack
      - uses: actions/upload-artifact@v2
        with:
          name: coat
          path: packages/*/*.tgz
  integration-tests:
    name: Integration tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [10, 12, 14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: |
          npm ci
          npx --no-install lerna bootstrap
      - name: Setup git config for e2e tests
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
      - name: Decrease npm retry factors on macOS
        if: matrix.os == 'macos-latest'
        run: |
          echo "::set-env name=npm_config_fetch_retries::50"
          echo "::set-env name=npm_config_fetch_retry_factor::2"
          echo "::set-env name=npm_config_fetch_retry_mintimeout::50"
          echo "::set-env name=npm_config_fetch_retry_maxtimeout::6000"
      - name: Run all tests
        run: npm run test:all -- --ci --no-cache --runInBand --verbose
        working-directory: ./packages/cli
